export_fig

qt_temp*
*.gz
*.log
*.blg
*.bbl
*.aux
*.bib.bak
*.orig
*.nav
*.out
*.snm
*.cls
*.def
*.sty
*.toc
*.lot
*.asv
*.lof
*.loa
*.ist
*.idx
*.glo
*.acn
*.acr
*.alg
*.glg
*.gls
*.gif
*.asv
*.slg
*.slo
*.sls
*.auxlock
*.avi
*.bak
*.mp4
*.mat
*~

*.fig

examples/*/*.pdf
docs/build
docs/venv
examples/*/build
examples/*/HomotopySolver.*
examples/*/ProblemOptions.*
examples/*/*.c
examples/*/*.json
examples/*/CMakeLists.txt