qt_temp*
*.gz
*.log
*.blg
*.bbl
*.aux
*.bib.bak
*.orig
*.nav
*.out
*.snm
*.cls
*.def
*.sty
*.toc
*.lot
*.asv
*.lof
*.loa
*.ist
*.idx
*.glo
*.acn
*.acr
*.alg
*.glg
*.gls
*.gif
*.asv
*.slg
*.slo
*.sls
*.auxlock
*.avi
*.bak
*.mp4
*.mat
*~